*{
	margin: 0;
	padding: 0;
}

#bg_mv{
	width: auto;
	height: auto;
	min-width: 100%;
	min-height: 100%;
	position: absolute;
    top: 0px;
    left: 0px;
}
#page{
	position: absolute;
	top: 0px;
    left: 0px;
}